= form_for @admin_user, url: update_two_factor_admin_admin_user_path, html: { method: :patch, class: "formtastic" } do |f|
  %fieldset.inputs
    %legend
      %span Enable/Disable 2FA
    %ol
      %li
        = f.check_box :otp_required_for_login
        = f.label :otp_required_for_login, "Enable/Disable 2FA"
  %fieldset.actions
    %ol
      %li.action.input_action
        = f.submit "Save"
      %li.cancel
        = link_to "Cancel", admin_admin_user_path(@admin_user.id)
- if @admin_user.otp_required_for_login
  .panel
    %h3 Setup Google Authenticator (or any other 2-step verification app)
    .panel-contents
      .attributes_table
        %table
          %tbody
            %tr.row
              %th Scan the QR Code
              %td
                - issuer = "Admin User - local"
                - label = [issuer, @admin_user.email].join(": ")
                - code = @admin_user.otp_provisioning_uri(label, issuer: issuer)
                = RQRCode::QRCode.new(code).as_svg(module_size: 4).html_safe
            %tr.row
              %th OTP Key
              %td
                = @admin_user.otp_secret